* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


